hr{
  background: linear-gradient(to right, #000, #555, #000) ;
  /* background-color: #1D2130; */
  height: 2px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} 
 
 .event-card{
    background-color: #F2C94C;
    border-radius: 20px;
padding: 3rem;
    width: 30rem;
    margin: 10px;
}

.event-title{
  font-size: 30px;
  margin-top: -4%;
}

.event-title-line{
  border: 1px solid black;
margin-top: 8px;
height: 0 !important;
margin-left: -5%;
width:70rem;
}
.chart-content{
  padding: 1rem;
  margin-left: -5%;
  margin-top: -5%;
}
.home-page{
  overflow: hidden;
}
.date-event-no{
  font-size: 40px;
}


.supporter-line{
  border: 1px solid black;
margin-top: 8px;
height: 0 !important;
width:70rem;
}

.icon-bg{
  background-color: white;
  display: inline-block;
  padding:10px;
  height: 50px;
  border-radius:5px ;
  width: 50px;
  margin: 1rem;
}

.cta-image{
  margin: 1rem;
  width: 80rem;
  transform: translateX(5%);
}
.donation-chart{
    background-color: #000000;
    min-height: 20em;
    width: 94.6rem;
}

.services{
    background-color: #FCEDC6;
    min-height: 30em;

}

.supporters{
  padding: 1rem;

}
.supporter{
  margin: 1rem;
  width: 65rem;

}
.below{
    position: absolute;
    margin-top: 20%;
}
.header{
    position: relative;
}
.head-top{
position: absolute;
top: 60%;
left: 5%;
}

.head-top-text{
    color:white;
}



.home-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-text{
    color: white;
    position: absolute; 
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: translateY();
 text-align: center;
}


.learn-more {
  background-color: #F2C94C;
  padding: 0.5rem 1rem; 
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  border: 2px solid #F2C94C; 
  border-radius: 5px; 
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s ease; 

  margin-left: 2rem;
}

.learn-more:hover {
  background-color: #FFD369; 
}

.content{
    margin-left: 15%;
}

.whatwedo {
  padding: 0.8em 1.5em; 
  border-radius: 25px; 
  color: #fff; 
  background-color: #FFA500;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease; 
}

.whatwedo:hover {
  background-color: #FF8C00; 
}



.play-text {
  display: flex;
  align-items: center;
  padding: 0.8em 1.5em; 
white-space: nowrap;
cursor: pointer;
}

.play-text span {
  margin-right: 5px; 
}

.play{
    margin-left: -15rem;
    color: white;
}

.play-text{
    font-size: 15px;
}

.below{
  top: 80%;
  left: 5%;
  position: absolute;
}


.divide{
        border-style: double;
    border-width: 1px;
border: 1px solid rgb(178, 178, 178);
width:30rem;

}



.below-text{
    color: white;
}

.about-name{
  font-size: 48px;
  line-height: 1.2;
}

.about-title{
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* margin-left: -29rem; */
    color: #1D2130;
    margin-left: -10px;
    /* margin-left: 10px; */

    white-space: nowrap;
}

.about-content{
    padding: 5rem;
}


.about-name{
  padding: 2rem;
  margin-left: -12rem;

}
.about-image-box{
  margin: 3rem;
  margin-left: -2rem;
}
.para{
    padding: 2rem;
        font-size: 16px;
        margin-left: -12rem;
    line-height: 1.6;
    color: #555;
}
.about-img{
    max-width: 100%;
    border-radius: 10px;
}
.about-title-line{
  margin-top: 0.5rem;
  width: 90px;
}
.about-title{
  margin-left: 20px;
}
.supporter{
    padding: 3rem;
    width: 68rem;
}

.logo{
  margin: 5px !important;
}

.supporters{
  display: flex;
  }
.services{
    padding: 3rem;
}

.support-title{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: auto;
    text-transform: uppercase;
    white-space: nowrap;
}

.service-line{
  border: 1px solid black;
  margin-top:9px;
  height: 0  !important;
}
.services-title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.service-title{
    font-size: 24px;
}
.service-text{
  font-size: 16px;
}
.service-img{
    max-width: 100%;
    border-radius: 10px;
    margin-top: 25%;
}
.main-service-title{
    font-size: 48px;
    line-height: 1.2;
    white-space: nowrap;
}
.main-service-text{
  white-space: nowrap;
  font-size: 16px;
}
.projects{
    padding: 3rem;
    margin: 1rem;
}

.project-title{
    font-size: 48px;
    width: 50%;
    padding: 2rem;
    white-space: wrap;
    margin-left:8.5%;
  
}


.project-card{
    position: relative;

}

.project{
    max-width: 100%;
    border-radius: 10px;
}

.project-details{
    position: absolute;
    transform: translateY(-95%);
    width: 26rem;
    padding: 3rem;
}
/* .learnmore{
    padding: 0.5rem;
    font-size: 16px;
    color: #1D2130;
    border: none;
    border-radius: 4px;
    font-weight: bold;
} */


.learnmore {
  padding: 0.5rem 1rem;
  font-size: 16px;
  color: #fff; /* Text color */
  background-color: #4CAF50; /* Background color */
  border: 2px solid #4CAF50; /* Border color */
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.learnmore:hover {
  background-color: #fff; /* Hover background color */
  color: #4CAF50; /* Hover text color */
  border-color: #4CAF50; /* Hover border color */
}



.project-details-name,.project-details-para{
    color: white;
}

.project-details-name{
    font-size: 28px;
}

.data{
    width: 40rem;
    padding: 1rem;
}

.color {
    width: 20px; 
    height: 20px; 
    display: inline-block;
    margin-right: 5px; 
  }

  .child-care-home { background-color: #BEF3C0; } 
  .cleanliness-program { background-color: #AC94F1; } 
  .helping-people { background-color: #FFF0CA; }
  .excursions { background-color: #F9CF64; } 
  .feeding-the-poor { background-color: #F38FBF; } 

.donation-chart{
    padding: 3rem;
    margin-left: -10px;
}


.row-data{
    width:30rem;
    margin-top: -17rem;

}
.pie{
  margin-left: 50%;
  margin-top: -3%;
}

.pie-chart{
  width: 40rem;
  
  min-height: 20rem;
  margin-left: 55%;
  margin-top: -13%;
}

.donation-title{
    color: white;
    font-size: 48px;
}

.donation-para{
    color: white;
    font-size: 16px;
}



.cta-image{
    padding: 3rem;
    position: relative;
   
}

.cta-img{
    max-width: 100%;
    border-radius: 10px;
}

.cta-btn{
    position: absolute;
    transform: translateY(-5%);
}

.cta-image {
    text-align: center;
  }
  
  .cta-img {
    width: 100%; 
    height: auto;
  }
  
  .cta-buttons {
    position: absolute;
    top: 50%;
    left:35%;
    transform: translate(-50%, -50%);
  }
  
  .join {
    margin: 2rem;
    padding: 0.8rem;
    width: 11rem;
    text-align: center;
    margin-left: -10%;
    white-space: nowrap;
    background-color: #F2C94C;
    border: none;
    color: #ffffff; 
    font-size: 16px; 
    font-weight: bold; /* Make the text bold */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.join:hover {
    background-color: #FFA800; /* Change background color on hover */
}

.donate {
  padding: 0.8rem;
  margin-top: 30px;
  border: none;
  width: 10rem;
  transform: translateX(90%);
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate:hover {
  background-color: #45a049;
}

  .cta-title{
    color: white;
    margin-left: 20%;
  white-space: nowrap;

  }



  .events{
    padding: 3rem;
  }

  .title-event{
    font-size:16px;
    margin-top: -28%;
    margin-left: -6%;
    text-transform: uppercase;
    margin-bottom: 2rem !important;
    line-height: 1.5;
  

    color: #1D2130;
}

.event-hr{
margin-top: -87%;
width: 50%;
margin-left: 6rem;
color: #1D2130;
height: 0 !important;
border: 1px solid black;

}

.event-name{
    margin-top: -20%;
    font-size: 28px;
    margin-left:2rem;
}




.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    cursor: pointer;
    height: 30px; 
    background-color: white;
    border-radius: 50%;
    margin-top: -20%;
    margin-left: 23rem;
  }
.date-event-no,.date-event-mon{
margin-left: -5%;
line-height: 1.2;

}


.data-text{
  color: white;
  letter-spacing: 1px;
  
}

.row-data-text{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  margin-top: 9rem;
  margin-left: -1rem;
}
.date-event-no{
  font-size: 48px;
}

.date-event-mon{
  text-transform: uppercase ;
  font-size: 16px;
  margin-top: -10px;
  margin-left: -5px;
}




  @media (max-width: 575.98px) {
    .header-img{
   /* margin-left: 5rem; */
   /* margin-top: 5rem; */
   /* max-width: 100%; */
   /* display: none; */

    }

    .head-top{
      transform: translateY(200%) !important;

      /* margin-top: 20%; */
    }
.title-event{
  margin-top: -5rem;
  margin-left: 8.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem !important;
  line-height: 1.5;
}
.event-name{
  font-weight: bold;
  margin-top: -40px;
  line-height: 1.5;

  /* font-size: 18px; */
}

    .head-top{
        margin-left: 15%;
        margin-top: -30rem;
        padding: 1rem;
        text-align: center;
    }

.divide{
    width: 35rem;
}
  .below{
    margin-left: 20%;
    margin-top: 50%;
    width: 60rem;
  }
  .whatwedo{
padding: 0.3rem;
  }
  /* .main-header{
    max-width: 200%;
  } */
  .content{
    margin-bottom: 1rem;
  }
  .about-img{
    max-width: 100%;
  }
  .play-text {
    display: flex;
    align-items: center;
    padding: 0.8em 1.5em; 
  white-space: nowrap;
  margin-left: 20%;
  cursor: pointer;
  }


  
  
  .play-text span {
    margin-right: 5px; 
  }
  
  .logo{
margin: 3rem !important; 
  }


  .sup-logo{
    margin-left: 20px;
  }

  .services{
    width:68.8rem;
  }

  .about-content{
    width:68.8rem;

    margin-left: -20%;
  }
  .service-img{
        margin-top: 2rem;
  }

  .projects{
    width: 65rem;
  }
.project-details
{
    margin-top: -15%;
}
  .project{
    margin-bottom: 10px;
  }
  .project-title{
    margin: 2rem;
  }

  .donation-chart{
    width: 69.7rem;
  }

.event-title{
  white-space: nowrap;
}

.event-title-line{
  width: 52rem;
  margin-top: 0.9rem;
  transform: translateX(15%);
}



  .chart-content{
    padding: 1rem;
    margin-left: -10%;
  }
.cta-image{
    width: 65rem;
    margin-left: -10%;
}


.supporter-line{
  border: 1px solid black;
margin-top: 8px;
height: 0 !important;
width:50rem;
margin-left: 5%;
}

.row-data{
margin-top: -25%;
margin-left: -3%;
}

.pie{
  margin-top: -10%;
  margin-left: 42%;
}
.whatwedo {
  padding: 0.8em 1.5em; 
  border-radius: 25px; 
  color: #fff; 
  background-color: #FFA500;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease; 
}

.whatwedo:hover {
  background-color: #FF8C00; 
}


.row-data-text{
  display: flex;
  flex-direction: row;
}

.main-header{
    width:70rem !important;
    height: 50rem;
    margin-top: 30%;
    /* transform: translateX(2%); */
}
.circle-icon{
  margin-top: -20%;
  margin-left: 33rem;
}
.event-card{
  width: 40rem !important;
  border-radius: 20px;
  transform: translateX(20%);
}
.event-cards{
  width: 60rem;
}
.date-event-no,.date-event-mon{
  margin-left: -10px;
}
.home-page{
  overflow: visible;
}

.row-data{
margin-left: -3px;
}

.donation-title{
  font-size: 30px;
}
.learn-more {
  background-color: #F2C94C;
  padding: 0.5rem 1rem; 
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  border: 2px solid #F2C94C; 
  border-radius: 5px; 
  text-decoration: none; 
  display: inline-block; 
  transition: background-color 0.3s ease; 

  margin-left: 2rem;
}

.learn-more:hover {
  background-color: #FFD369; 
}


.desktop{
  display: none;
}
.event-hr{
  border: 1px solid black;
  margin-top: -12%;
  font-weight: bold;
  width: 4rem;
  margin-left: 16rem;


}

.about-content{
  margin: 1rem;
  width: 64rem;
}

.main-service-text{
  white-space: wrap;
}

  }
  
  

  