 .event-card{
    background-color: #F2C94C;
    margin: 3em;
    padding: 2rem;  
    width: 30rem;
    margin-left: 10rem;
}

.home-page{
  overflow: hidden;
}
.date-event-no{
  font-size: 40px;
}

.cta-image{
  margin: 1rem;
  width: 80rem;
  transform: translateX(5%);
}
.donation-chart{
    background-color: #000000;
    min-height: 20em;
    width: 88rem;
}

.services{
    background-color: #FCEDC6;
    min-height: 30em;

}

.supporters{
  padding: 1rem;
 transform: translateX(10%);
}
.supporter{
  margin: 1rem;
}
.below{
    position: absolute;
    margin-top: 20%;
}
.header{
    position: relative;
}
.head-top{
position: absolute;
top: 60%;
left: 5%;
}

.head-top-text{
    color:white;
}



.home-header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-text{
    color: white;
    position: absolute; 
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    transform: translateY();
 text-align: center;
}


.learn-more{
    background-color: #F2C94C;
    padding: 0.5rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
}

.content{
    margin-left: 15%;
}

.whatwedo{
    padding: 0.5em;
    border-radius: 4px;
    color: #1D2130;

border: none;}

.play{
    margin-left: -15rem;
    color: white;
}

.play-text{
    font-size: 15px;
}

.below{
  top: 80%;
  left: 5%;
  position: absolute;
}


.divide{
        border-style: double;
    border-width: 1px;
border: 1px solid rgb(178, 178, 178);
width:30rem;

}



.below-text{
    color: white;
}



.about-title{
    font-size: 16px;
}

.about-content{
    padding: 5rem;
}
.para{
    padding: 2rem;
    margin-left: -1rem;
}
.about-img{
    max-width: 100%;
    border-radius: 10px;
}


.supporter{
    padding: 3rem;
}
.services{
    padding: 3rem;
}

.support-title{
    font-size: 16px
}

.services-title{
    font-size: 16px;
}

.service-title{
    font-size: 1rem;
}

.service-img{
    max-width: 100%;
    border-radius: 10px;
}
.main-service-title{
    font-size: 2rem;
}

.projects{
    padding: 3rem;
    margin: 1rem;
}

.project-title{
    font-size: 2rem;
    padding: 1rem;
}


.project-card{
    position: relative;

}

.project{
    max-width: 100%;
    border-radius: 10px;
}

.project-details{
    position: absolute;
    transform: translateY(-85%);
    width: 26rem;
    padding: 3rem;
}
.learnmore{
    padding: 0.5rem;
    font-size: 16px;
    color: #1D2130;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.project-details-name,.project-details-para{
    color: white;
}

.project-details-name{
    font-size: 20px;
}

.data{
    width: 40rem;
    padding: 1rem;
}

.color {
    width: 20px; 
    height: 20px; 
    display: inline-block;
    margin-right: 5px; 
  }

  .child-care-home { background-color: #BEF3C0; } 
  .cleanliness-program { background-color: #AC94F1; } 
  .helping-people { background-color: #FFF0CA; }
  .excursions { background-color: #F9CF64; } 
  .feeding-the-poor { background-color: #F38FBF; } 

.donation-chart{
    padding: 3rem;
}


.row-data{
    width:30rem;
    margin-top: -10rem;

}
.pie{
    width: 20rem;
    transform: translateX(90%) !important;
    transform: translateY(-5%) !important;

}
.donation-title{
    color: white;
}

.donation-para{
    color: white;
}



.cta-image{
    padding: 3rem;
    position: relative;
   
}

.cta-img{
    max-width: 100%;
    border-radius: 10px;
}

.cta-btn{
    position: absolute;
    transform: translateY(-5%);
}

.cta-image {
    text-align: center;
  }
  
  .cta-img {
    width: 100%; /* Adjust the width as needed */
    height: auto;
  }
  
  .cta-buttons {
    position: absolute;
    top: 50%;
    left:35%;
    transform: translate(-50%, -50%);
  }
  
  .join{
    margin: 2rem;
    padding: 0.8rem;
    width: 10rem;
    white-space: nowrap;
    background-color: #F2C94C;
    border: none;
  }

  .donate{
    padding: 0.8rem;
    margin-top: 30px;
    border: none;
    width: 10rem;
    transform: translateX(150%);
  }

  
  .cta-title{
    color: white;
    margin-left: 20%;
  white-space: nowrap;

  }


  .events{
    padding: 3rem;
  }

  .title-event{
    font-size: 24px;
    margin-top: -30%;
    margin-left: -6%;
}

.event-hr{
margin-top: -90%;
width: 70%;
margin-left: 6.5rem;

}

.event-name{
    margin-top: -20%;
    font-size: 20px;
    margin-left:2rem;
}




.circle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; 
    cursor: pointer;
    height: 30px; 
    background-color: white;
    border-radius: 50%;
    margin-top: -30%;
    margin-left: 25rem;
  }
.date-event-no,.date-event-mon{
margin-left: -5%;
}

  @media (max-width: 575.98px) {
    .header-img{
   margin-left: 5rem;
   margin-top: 5rem;
   /* max-width: 100%; */
   display: none;

    }
.title-event{
  margin-top: -7rem;
  margin-left: 5rem;
  margin-bottom: 2rem !important;
}
.event-name{
  margin-left: 2rem;
  margin-top: -40px;
  /* font-size: 18px; */
}

    .head-top{
        margin-left: 15%;
        margin-top: -30rem;
        padding: 1rem;
        text-align: center;
    }

.divide{
    width: 10rem;
}
  .below{
    margin-left: 20%;
    margin-top:-115%;
  }
  .whatwedo{
padding: 0.3rem;
  }
  /* .main-header{
    max-width: 200%;
  } */
  .content{
    margin-bottom: 1rem;
  }
  .about-img{

    margin-left: 10%;
    max-width: 100%;
  }

  .logo{
margin: 3rem !important; 
  }


  .sup-logo{
    margin-left: 20px;
  }

  .services{
    width:66rem;
  }

  .about-content{
    width: 43rem;
    margin-left: -20%;
  }
  .service-img{
        margin-top: 2rem;
  }

  .projects{
    width: 43rem;
  }
.project-details
{
    margin-top: -15%;
}
  .project{
    margin-bottom: 10px;
  }
  .project-title{
    margin: 2rem;
  }

  .donation-chart{
    width: 65rem;
  }

  .chart-content{
    padding: 1rem;
    margin-left: -18%;
  }
.cta-image{
    width: 65rem;
    margin-left: -10%;
}

.row-data{
margin-top: -2%;
margin-left: -3%;
}

.pie{
    margin-top: -2%;
    transform:translateY(-60%) !important ;
    transform: translateX(60%) !important;
}

.main-header{
    width:65rem !important;
    height: 50rem;
    margin-top: 30%;
    transform: translateX(2%);
    border: 1px solid black;
}
.circle-icon{
  margin-top: -55%;
  margin-left: 9rem;
}
.event-card{
  width: 50rem
}

.date-event-no,.date-event-mon{
  margin-left: -30px;
}
.home-page{
  overflow: visible;
}
.desktop{
  display: none;
}
  }
  
  

  