.footer{
    background-color: black;
    padding: 3rem;
}

.link-title{
    color: white;
    line-height:1.5rem;
    margin-left: -0.2rem;


}

.logo{
    margin: 3rem;
        cursor: pointer;
        text-decoration: none;
        white-space: nowrap;
        margin-left: -0.5rem;
    
}

.footer-link{
    color: white;
    transition: box-shadow 0.3s ease-in-out;
    text-decoration: none;
}

.footer-link:hover{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    cursor: pointer;

}

.f-link {
    text-decoration: none;
}


@media (max-width: 575.98px){
    .footer{
        width: 68rem;
    }

    .newsletter{
        width: 30rem;
        margin-left: 25%;
        }
}

